--
-- PostgreSQL database dump
--

\restrict z4WNYUj4dsJ7qfydn1JoZJuyqoipBtTkHCI52zS1abxjW9viGthmzj3uwuDTeRv

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AppConfig; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."AppConfig" (
    id text NOT NULL,
    name text NOT NULL,
    config jsonb NOT NULL,
    "ownerId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."AppConfig" OWNER TO postgres;

--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: dyn_customers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dyn_customers (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    owner_id text NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "fullName" text DEFAULT ''::text,
    email text,
    budget double precision,
    "isActive" boolean,
    "joinedDate" timestamp with time zone
);


ALTER TABLE public.dyn_customers OWNER TO postgres;

--
-- Name: dyn_inventory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dyn_inventory (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    owner_id text NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "productName" text DEFAULT ''::text,
    sku text,
    "stockLevel" double precision
);


ALTER TABLE public.dyn_inventory OWNER TO postgres;

--
-- Name: dyn_meetings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dyn_meetings (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    owner_id text NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "roomName" text DEFAULT ''::text,
    capacity double precision,
    "hasVideo" boolean,
    "lastCleaned" timestamp with time zone
);


ALTER TABLE public.dyn_meetings OWNER TO postgres;

--
-- Name: dyn_resources; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dyn_resources (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    owner_id text NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "itemName" text DEFAULT ''::text,
    category text,
    quantity double precision,
    "isMaintenance" boolean
);


ALTER TABLE public.dyn_resources OWNER TO postgres;

--
-- Name: dyn_tasks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dyn_tasks (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    owner_id uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    title text NOT NULL,
    description text,
    priority double precision
);


ALTER TABLE public.dyn_tasks OWNER TO postgres;

--
-- Name: dyn_visitors; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dyn_visitors (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    owner_id text NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    "visitorName" text DEFAULT ''::text,
    company text,
    purpose text,
    "checkInTime" timestamp with time zone
);


ALTER TABLE public.dyn_visitors OWNER TO postgres;

--
-- Data for Name: AppConfig; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."User" (id, email, password, "createdAt", "updatedAt") FROM stdin;
default-user-id	admin@aether.ai	admin-password-mock	2026-04-28 09:54:16.494	2026-04-28 09:54:16.494
f0a4faba-d0d3-47aa-9e57-50046c040c79	kvamsi.nellore@gmail.com	$2b$10$GtLExrvEHV7mQvLR/TiXy.aYV1PK0jX5m4OS7QZsKAWv5HZjDGb1q	2026-04-29 09:37:19.771	2026-04-29 09:37:19.771
\.


--
-- Data for Name: dyn_customers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.dyn_customers (id, owner_id, created_at, updated_at, "fullName", email, budget, "isActive", "joinedDate") FROM stdin;
\.


--
-- Data for Name: dyn_inventory; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.dyn_inventory (id, owner_id, created_at, updated_at, "productName", sku, "stockLevel") FROM stdin;
\.


--
-- Data for Name: dyn_meetings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.dyn_meetings (id, owner_id, created_at, updated_at, "roomName", capacity, "hasVideo", "lastCleaned") FROM stdin;
\.


--
-- Data for Name: dyn_resources; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.dyn_resources (id, owner_id, created_at, updated_at, "itemName", category, quantity, "isMaintenance") FROM stdin;
\.


--
-- Data for Name: dyn_tasks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.dyn_tasks (id, owner_id, created_at, title, description, priority) FROM stdin;
\.


--
-- Data for Name: dyn_visitors; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.dyn_visitors (id, owner_id, created_at, updated_at, "visitorName", company, purpose, "checkInTime") FROM stdin;
\.


--
-- Name: AppConfig AppConfig_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AppConfig"
    ADD CONSTRAINT "AppConfig_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: dyn_customers dyn_customers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dyn_customers
    ADD CONSTRAINT dyn_customers_pkey PRIMARY KEY (id);


--
-- Name: dyn_inventory dyn_inventory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dyn_inventory
    ADD CONSTRAINT dyn_inventory_pkey PRIMARY KEY (id);


--
-- Name: dyn_meetings dyn_meetings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dyn_meetings
    ADD CONSTRAINT dyn_meetings_pkey PRIMARY KEY (id);


--
-- Name: dyn_resources dyn_resources_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dyn_resources
    ADD CONSTRAINT dyn_resources_pkey PRIMARY KEY (id);


--
-- Name: dyn_tasks dyn_tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dyn_tasks
    ADD CONSTRAINT dyn_tasks_pkey PRIMARY KEY (id);


--
-- Name: dyn_visitors dyn_visitors_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dyn_visitors
    ADD CONSTRAINT dyn_visitors_pkey PRIMARY KEY (id);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: AppConfig AppConfig_ownerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."AppConfig"
    ADD CONSTRAINT "AppConfig_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict z4WNYUj4dsJ7qfydn1JoZJuyqoipBtTkHCI52zS1abxjW9viGthmzj3uwuDTeRv

